.letraCirculo {
    width: 68px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    font-weight: lighter;

    border: 2px solid #666;
    background-color: #24509D;
    color: white;
}

.listaHeader {
    background: #1B2E4F !important;
    color: white;
}

.headerLateral {
    background: #24509D;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
}

.titleHeader{
    background: #1B2E4F;
    margin-top: -15px;
    margin-bottom:  30px;
    border-radius: 10px 10px 0 0;
    color: white;
}
.tabelaBorder{
    border-style: groove;
    border-color: #6cb2eb;
}

.btnCircle {
    border-radius: 50%;
    background-color: red;
}
