<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-group row justify-content-center">
    <div class="form-group col-md-2 headerLateral">
        <h1 style="font-size: 70px">3º</h1>
        <small>Clique no botão Pronto para finalizar.</small>
    </div>

    <div class="form-group col-md-9">
        <div class="card">
            <div class="card-header listaHeader">
                <h5 class="card-title">Questões Adicionadas</h5>
            </div>
            <div class="card-body">
                @if($questaos->all())
                <table id="tabela_dados2" class="table tabelaBorder">
                    <thead>
                    <tr class="listaHeader">
                        <th>Enunciado</th>
                        <th>Nível</th>
                        <th>Disciplina</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach($questaos as $qst)
                    <tr>
                        <td style="overflow: hidden; word-wrap: break-word; max-width: 38rem;">
                            {{ str_limit(preg_replace('/<[^>]*>|[&;]|nbsp/', '', preg_replace(array('/nbsp/','/<(.*?)>/'), ' ', $qst->questao->enunciado)), $limit = 180, $end = '...') }}
                        </td>
                        <td>{{$qst->questao->dificuldade}}</td>
                        <td id="disciplina">{{$qst->questao->disciplina->nome}}</td>
                        <td class="btn-group">
                            <a class="icons btn btn-sm btn-info" data-toggle="modal"
                               href="#modal_{{$qst->questao->id}}" data-placement="bottom"
                               rel="tooltip"
                               title="Visualizar"><i class="fa fa-eye"></i></a>
                            <a href="{{route('edit_qst', ['id'=>$qst->questao->id])}}"
                               class="btn btn-sm btn-primary" data-placement="bottom"
                               rel="tooltip"
                               title="Editar"><i class="fa fa-pencil"></i></a>
                            <a onclick="return confirm('Você tem certeza que deseja remover?')"
                               href="{{route('remove_qst_simulado', ['sim_qst_id'=>$qst->id])}}"
                               class="btn btn-sm btn-danger" data-placement="bottom"
                               rel="tooltip"
                               title="Excluir"><i class="fa fa-trash"></i></a>
                            <!-- Modal -->
                            <div class="modal fade" id="modal_{{$qst->questao->id}}"
                                 tabindex="-1"
                                 role="dialog" aria-labelledby="exampleModalCenterTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="modalTitle_{{$qst->questao->id}}">{{$qst->questao->disciplina->nome}}
                                                - {{$qst->questao->dificuldade}}</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Voltar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"
                                             style="overflow: hidden; word-wrap: break-word;">
                                            <div class="row">
                                                <div class="card-header w-100">
                                                    <span> {!! $qst->questao->toArray()['enunciado'] !!} </span>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">Alternativas:</h5>
                                                    <div class="list-group container">
                                                                    <span
                                                                        class="list-group-item {{  $qst->questao->alternativa_correta == '0' ? 'list-group-item-success' : '' }}">{!! $qst->questao->toArray()['alternativa_a'] !!}</span>
                                                        <span
                                                            class="list-group-item {{  $qst->questao->alternativa_correta == '1' ? 'list-group-item-success' : '' }}">{!! $qst->questao->toArray()['alternativa_b'] !!}</span>
                                                        <span
                                                            class="list-group-item {{  $qst->questao->alternativa_correta == '2' ? 'list-group-item-success' : '' }}">{!! $qst->questao->toArray()['alternativa_c'] !!}</span>
                                                        <span
                                                            class="list-group-item {{  $qst->questao->alternativa_correta == '3' ? 'list-group-item-success' : '' }}">{!! $qst->questao->toArray()['alternativa_d'] !!}</span>
                                                        <span
                                                            class="list-group-item {{  $qst->questao->alternativa_correta == '4' ? 'list-group-item-success' : '' }}">{!! $qst->questao->toArray()['alternativa_e'] !!}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{route('edit_qst', ['id'=>$qst->questao->id])}}"
                                               class="btn btn-primary"><i
                                                class="fa fa-pencil"></i></a>
                                            <a onclick="return confirm('Você tem certeza que deseja remover?')"
                                               href="{{route('remove_qst_simulado', 	['sim_qst_id'=>$qst->id])}}"
                                               class="btn btn-danger"><i
                                                class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    @endforeach
                    </tbody>
                </table>
                @else
                <p class="text-center alert alert-light">Não existem questões neste simulado.</p>
                @endif
            </div>
        </div>
    </div>
</div>

</body>
</html>
